<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!--
	 * [제품관리 - 상품조회]
	 * 상품 전체 조회
	 * 작성자 김지애
	 -->
	<entry key="selectProductList">
		SELECT *
		  FROM (
		  		SELECT ROWNUM RNUM, A.*
		  		  FROM (
		  		  		SELECT 
		  		  			    P_NAME
					          , CATEGORY_NO
					          , P_CODE
					          , PUBLISHER
					          , PUBLISH_MONTH
					          , PRICE
					          , ENROLL_DATE
					          , P_STOCK
					       FROM PRODUCT
		  		 		) A
		  		)
		  WHERE RNUM BETWEEN ? AND ?           
	</entry>
	
	<!-- selectProductList 기존 구문
		SELECT 
 			    P_NAME
	          , CATEGORY_NO
	          , P_CODE
	          , PUBLISHER
	          , PUBLISH_MONTH
	          , PRICE
	          , ENROLL_DATE
	          , P_STOCK
	       FROM PRODUCT
	 -->
	
	<!-- 
		* [제품관리 - 상품조회]
		* 페이징 처리
	 	* 작성자 김지애
	 -->
	<entry key="selectProductListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM PRODUCT
	</entry>	
		
    <!-- 
    	* [제품관리 - 상품 등록 및 수정]
		* 상품 등록
	 	* 작성자 김지애
     -->          
     <entry key="insertProduct">
     	INSERT
     	  INTO PRODUCT
     	  (
     	  	P_NAME
     	  , PUBLISH_MONTH
     	  , PUBLISHER
     	  , CATEGORY_NO
     	  , P_CODE
     	  , PRICE
     	  , P_STOCK
     	  , DELI_FEE
     	  , POINT
     	  )
     	  VALUES
     	  (
     	  	?
     	  ,	?
     	  , ?
     	  , ?
     	  , ? || SEQ_PCODE.NEXTVAL
     	  , ?
     	  , ?
     	  , ?
     	  , ?
     	  )
     </entry>     
     
     <entry key="insertAttachment">
     	INSERT
		  INTO ATTACHMENT
		  (
		    FILE_NO
		  , REF_CODE
		  , REF_BNO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_FILE.NEXTVAL 
		    , 'PRODUCT'
		    , <!-- 현재 참조하는 게시물과 동일한이름 -->
		    , ? 
		    , ?
		    , ?
		  )
     </entry>         
                              
                              
                              
                              
                              
                             

</properties>