<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 고객센터 공지사항리스트조회, 김은지 -->
	<entry key="selectNoticeList">
		SELECT *
		  FROM (
		  	   SELECT ROWnUM RNUM, A.*
		  	     FROM (	
					  SELECT 
						     N.NOTI_NO
						   , N.TITLE
						   , N.ENROLL_DATE
						   , M.MEM_ID
						   , NOTI_VIEWS
						FROM NOTICE N     
				        JOIN MEMBER M ON(M.MEM_NO = N.MEM_NO)
           			   WHERE NOTI_TYPE = '고객센터' 	
                          OR NOTI_TYPE = '1'	           			   			        
				       ORDER
					      BY NOTI_NO DESC
		  	     	  ) A
		  	   )
		WHERE RNUM BETWEEN ? AND ?	  			    
	</entry>
	
	<!-- 고객센터공지리스트 페이징처리, 김은지 -->
	<entry key="selectNoticeListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM NOTICE		
	</entry>	
	
	<!-- 고객센터공지사항 상세, 김은지 -->
	<entry key="noticeDetailList">
		SELECT 
		       N.TITLE
		     , M.MEM_ID
		     , N.CONTENT
		  FROM NOTICE N
		  JOIN MEMBER M ON(N.MEM_NO = M.MEM_NO)
		 WHERE NOTI_NO = ?
	</entry>
	
	<!-- 고객센터 1:1문의리스트조회, 김은지 -->
	<entry key="selectMtmList">
		SELECT *
		  FROM (
		  	   SELECT ROWnUM RNUM, A.*
		  	     FROM (		
					  SELECT
						     MTM_NO
					       , T.MEM_NO
						   , MEM_NO2
						   , MTM_TITLE
						   , T.ENROLL_DATE
						   , MTM_TYPE
						   , ANS_YN
					       , M.MEM_ID
						FROM MTM T
                        LEFT JOIN MEMBER M ON (T.MEM_NO = M.MEM_NO)
					   ORDER
						  BY MTM_NO DESC
		  	     	  ) A
		  	   )
		WHERE RNUM BETWEEN ? AND ?	    
	</entry>
	
	<!-- 고객센터 1:1문의리스트조회 페이징처리, 김은지 -->
	<entry key="selectMtmListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM MTM		
	</entry>	
	
	<!-- 고객센터 1:1문의리스트 상세조회, 김은지 -->
	<entry key="mtmDetailList">
		SELECT
		       MTM_TITLE
		     , M.MEM_ID
		     , MTM_CONTENT
		  FROM MTM T
		  JOIN MEMBER M ON(T.MEM_NO = M.MEM_NO)
		 WHERE MTM_NO = ?
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- FAQ 전체조회, 김지애 -->
	<entry key="selectFaqList">
		SELECT *
		  FROM (
		  		SELECT ROWNUM RNUM, A.*
		  		  FROM (
			  		  	SELECT 
						        F.FAQ_NO
						      , C.CATEGORY_NAME
						      , F.FAQ_TITLE
						      , F.ENROLL_DATE
						      , F.COUNT
						  FROM  FAQ F
						  LEFT JOIN FAQ_CATEGORY C ON (F.CATEGORY_NO = C.CATEGORY_NO)
						 ORDER  BY FAQ_NO DESC
		  		 		) A
		  		)
		  WHERE RNUM BETWEEN ? AND ?  
	</entry>
	
	<!-- FAQ 전체조회 기존구문
	SELECT 
	        FAQ_NO
	      , FAQ_CATEGORY
	      , FAQ_TITLE
	      , ENROLL_DATE
	      , COUNT
	  FROM  FAQ
	 ORDER  BY FAQ_NO DESC
	 -->
	
	<!-- FAQ 전체조회 페이징, 김지애 -->
	<entry key="selectFaqListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM FAQ
	</entry>
	
	<!-- FAQ 상세조회 : 조회수, 김지애 -->
	<entry key="increaseCount">
		UPDATE FAQ
		   SET COUNT = COUNT+1
		 WHERE FAQ_NO = ?
		   AND FAQ_YN = 'Y'
	</entry>
	
	<!-- FAQ 상세조회, 김지애 -->
	<entry key="selectFaq">
		SELECT
		        F.FAQ_NO
		     ,  C.CATEGORY_NAME
		     ,  M.MEM_ID
		     ,  F.ENROLL_DATE
		     ,  F.MODIFY_DATE
		     ,  F.COUNT
		     ,  F.FAQ_TITLE
		     ,  F.FAQ_CONTENT
		  FROM  FAQ F
		  LEFT JOIN  MEMBER M ON(F.MEM_NO = M.MEM_NO)
		  LEFT JOIN  FAQ_CATEGORY C ON (F.CATEGORY_NO = C.CATEGORY_NO)
		  WHERE FAQ_NO = ?
	</entry>
	
	<!-- 처음 작성 했던 상세조회 SQL문
	SELECT 
	        F.FAQ_NO
	     ,  F.FAQ_CATEGORY
	     ,  M.MEM_ID
	     ,  F.ENROLL_DATE
	     ,  F.MODIFY_DATE
	     ,  F.COUNT
 		 ,  F.FAQ_TITLE
     	 ,  F.FAQ_CONTENT
	  FROM  FAQ F
	  JOIN  MEMBER M ON(F.MEM_NO = M.MEM_NO)
	  WHERE FAQ_NO = ?
	 -->
	<!-- FAQ 등록 : 카테고리 조회, 김지애 -->
	<entry key="selectFaqCategoryList">
		SELECT
		        CATEGORY_NO
		      , CATEGORY_NAME
		   FROM FAQ_CATEGORY
	</entry>
	
	<!-- FAQ 등록, 김지애 -->
	<entry key="FaqInsertPage">
		INSERT 
		  INTO FAQ
		  (
		    FAQ_NO
		  , MEM_NO
		  , CATEGORY_NO
		  , FAQ_TITLE
		  , FAQ_CONTENT
		  , ENROLL_DATE
		  , COUNT
		  )
          VALUES
		  (
		   SEQ_FAQ.NEXTVAL
		  , 1
		  , ?
		  , ?
		  , ?
		  , CURRENT_DATE
		  , 0)
	</entry>
	
	
	
	<entry key="insertAns">
		 UPDATE MTM
		    SET MEM_NO2 = ?
			  , ANS_CONTENT = ?
			  , ANS_YN = 'Y'
		 WHERE MTM_NO = ?
	</entry>
	
	
	
	
	
</properties>

