<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 상품전체조회 -->
	<entry key="selectProductList">
		SELECT *
		  FROM (
		  		SELECT ROWNUM RNUM, A.*
		  		  FROM (
		  		  		SELECT 
		  		  			    P_NAME
					          , CATEGORY_NO
					          , P_CODE
					          , PUBLISHER
					          , PUBLISH_MONTH
					          , PRICE
					          , ENROLL_DATE
					          , P_STOCK
					       FROM PRODUCT
					      ORDER BY PUBLISH_MONTH DESC
		  		 		) A
		  		)
		  WHERE RNUM BETWEEN ? AND ?  
		     
	</entry>
	
	<!-- selectProductList 기존 구문
		SELECT 
 			    P_NAME
	          , CATEGORY_NO
	          , P_CODE
	          , PUBLISHER
	          , PUBLISH_MONTH
	          , PRICE
	          , ENROLL_DATE
	          , P_STOCK
	       FROM PRODUCT
	 -->
	
	<!-- 상품전체조회 : 페이징 -->
	<entry key="selectProductListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM PRODUCT
	</entry>	
	
	<!-- 상품등록 페이지 요청 -->
	<entry key="selectCategoryList">
		SELECT
			  	CATEGORY_NO
			  ,	CATEGORY_NAME
		   FROM	CATEGORY
	</entry>
	
	<!-- 상품등록 -->
     <entry key="insertProduct">
     	INSERT
     	  INTO PRODUCT
     	  (
     	  	P_NAME
     	  , PUBLISH_MONTH
     	  , PUBLISHER
     	  , CATEGORY_NO
     	  , P_CODE
     	  , PRICE
     	  , P_STOCK
     	  , DELI_FEE
     	  , POINT
     	  , IMAGE_URL1
     	  , IMAGE_URL2
     	  , IMAGE_URLS
     	  )
     	  VALUES
     	  (
     	  	?
     	  ,	to_date(?, 'MM/DD/YYYY')
     	  , ?
     	  , ?
     	  , ? || SEQ_pcode.NEXTVAL <!-- 시퀀스 앞에 특정 단어가 올때 그 단어의 시퀀스를 가져오게 -->
     	  , ?
     	  , ?
     	  , ?
     	  , ?
     	  , ?
     	  , ?
     	  , ?
     	  )
     </entry>     
     
     <!-- 상품등록 시 첨부파일 -->
     <entry key="insertAttachment">
     	INSERT
		  INTO ATTACHMENT
		  (
		    FILE_NO
		  , REF_CODE 
		  , REF_BNO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  )
		  VALUES
		  (
		      SEQ_FILE.NEXTVAL 
		    , 'PRODUCT' 
		    , SEQ_PRODUCT.CURRVAL <!-- 현재 참조하는 게시물과 동일한이름 -->
		    , ? 
		    , ?
		    , ?
		  )
     </entry>         
     
	<!-- 상품 전체조회 페이지 : 수정버튼 -->
	 <entry key="selectProduct">
		  SELECT
			        P_NAME
			     ,  PUBLISH_MONTH
			     ,  PUBLISHER
			     ,  CATEGORY_NO
			     ,  P_CODE
			     ,  PRICE
			     ,  P_STOCK
			     ,  DELI_FEE
			     ,  POINT
			     , 	IMAGE_URL1
			     , 	IMAGE_URL2
			     ,	IMAGE_URLS
			  FROM  PRODUCT
			 WHERE  P_CODE = ? <!-- 수정하고자 하는 상품 코드 -->
	 </entry>
     	  
	 <entry key="selectAttachment">
	 	SELECT
	 			FILE_NO 
	 		  ,	ORIGIN_NAME
	 		  , CHANGE_NAME
	 		  , FILE_PATH
	 	  FROM	ATTACHMENT
	 	 WHERE	REF_BNO = ? <!-- 참조 게시글 번호 -->
	 	 ORDER
	 	    BY	FILE_LEVEL ASC
	 </entry>
	 
	 <!-- 상품수정 -->             
	 <entry key="updateProduct">
	 	UPDATE
		        PRODUCT
		   SET  P_NAME = ?
		     ,  PUBLISH_MONTH = ?
		     ,  PUBLISHER = ?
		     ,  CATEGORY_NO = ?
		     ,  P_CODE = ? || SEQ_PCODE.NEXTVAL
		     ,  PRICE = ?
		     ,  P_STOCK = ?
		     ,  DELI_FEE = ?
		     ,  POINT = ?
		     , 	IMAGE_URL1 = ?
		     , 	IMAGE_URL2 = ?
		     ,	IMAGE_URLS = ?
		 WHERE  P_CODE = ? <!-- 수정하고자 하는 상품 -->
	 </entry>
    
	 <!-- 상품전체조회 페이지 : 삭제버튼 -->
	 <entry key="deleteProduct">
	 	UPDATE PRODUCT
	 	   SET P_STATUS = 'N'
	 	 WHERE P_CODE = ? <!-- 삭제하고자 하는 상품 코드 -->
	 </entry>
	   
                              
                              
                              
                             

</properties>