<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 커뮤니티공지사항리스트 조회, 김은지 -->
	<entry key="selectComuNotiList">
		SELECT *
		  FROM (
		  	   SELECT ROWnUM RNUM, A.*
		  	     FROM (
		  	     	  SELECT 
						     NOTI_NO
						   , TITLE
						   , M.MEM_ID
						   , N.ENROLL_DATE
						   , MODIFY_DATE
					    FROM NOTICE N
						JOIN MEMBER M USING (MEM_NO)
                       WHERE NOTI_TYPE = '커뮤니티'						
					   ORDER
					      BY NOTI_NO DESC
		  	     	 ) A
		  	   )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 커뮤니티공지사항리스트 페이징처리, 김은지 -->
	<entry key="selectComuNotiListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM NOTICE
	</entry>
	
	<!-- 커뮤니티공지사항 상세보기, 김은지 -->
	<entry key="comuNotiDetailList">
		SELECT 
		       TITLE          
		     , MEM_ID
		     , CONTENT
		  FROM NOTICE
		  JOIN MEMBER USING(MEM_NO)
		 WHERE NOTI_NO = ?
	</entry>
	
	<!-- 공지사항/커뮤공지사항 등록, 김은지 -->
	<entry key="insertNotice">
		INSERT
		  INTO NOTICE
		  (
		    NOTI_NO
		  , MEM_NO
		  , TITLE
		  , CONTENT
		  , NOTI_TYPE
		  )
		  VALUES
		  (
		    SEQ_NOTI.NEXTVAL	
		  , ?
		  , ? 
		  , ?
		  , ?
		  )
	</entry>
	
	<!-- 첨부파일업데이트시 Attachment테이블에 업데이트, 김은지 -->
	<entry key="insertAttachment">
		INSERT
		  INTO ATTACHMENT
		  (
		    FILE_NO
		  , REF_CODE
          , REF_BNO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_FILE.NEXTVAL
          , ? 
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<!-- 공지/커뮤공지 카테고리조회, 김은지 -->
	<entry key="selectCategoryList">
		SELECT
		       CATEGORY_NO
		     , CATEGORY_NAME
		  FROM CATEGORY2	
	</entry>
	
	<!-- 커뮤니티 게시글리스트조회, 김은지 -->
	<entry key="selectBoardList">
		SELECT *
		  FROM (
		  	   SELECT ROWnUM RNUM, A.*
		  	     FROM (
					  SELECT 
						      CB.COMU_NO
					        , CB.TITLE
						    , M.MEM_ID
						    , CB.ENROLL_DATE
					        , CB.VIEW_COUNT
					        , REPORT_YN
						 FROM COMU_BOARD CB
						 JOIN MEMBER M ON (M.MEM_NO = CB.MEM_NO)
						 LEFT 
						 JOIN REPORT ON(COMU_NO = REPORTED_COMU)
						ORDER
						   BY COMU_NO DESC
		  	     	  ) A
		  	   )
		WHERE RNUM BETWEEN ? AND ?	  		    
	</entry>
	
	<!-- 커뮤니티게시글리스트 페이징처리, 김은지 -->
	<entry key="selectBoardListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM COMU_BOARD
	</entry>
	
	<!-- 커뮤니티 게시글 상세조회, 김은지 -->
	<entry key="boardDetailList">
		SELECT 
			   CB.TITLE
		     , CC.CATEGORY_NAME
		     , M.MEM_ID
		     , CB.ENROLL_DATE
		     , CB.CONTENT
		  FROM COMU_BOARD CB
		  JOIN COMU_CATEGORY CC ON (CB.CATEGORY_NO = CC.CATEGORY_NO)
		  JOIN MEMBER M ON (M.MEM_NO = CB.MEM_NO)
		 WHERE COMU_NO = ?
	</entry>
	
	<!-- 커뮤니티 신고리스트조회, 김은지 -->
	<entry key="selectReportList">
		SELECT *
		  FROM (
		  	   SELECT ROWnUM RNUM, A.*
		  	     FROM (		
					  SELECT 
						     R.REPORT_NO
						   , R.REPORT_CATEGORY
						   , R.REPORT_CLASS
						   , R.REPORTED_NO
						   , R.MEM_NO
						   , R.REPORT_DATE
						   , R.REPORT_YN
						FROM REPORT R
					   ORDER 
					      BY REPORT_NO DESC
		  	     	  ) A
		  	   )
		WHERE RNUM BETWEEN ? AND ?	 		    
	</entry>
	
	<!-- 커뮤니티 신고리스트 페이징처리, 김은지 -->
	<entry key="selectReportListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM REPORT
	</entry>
	
	<!-- 커뮤니티 신고게시물 상세페이지, 김은지 -->
	<entry key="reportDetailList">
		SELECT
		       REPORT_CATEGORY
		     , REPORT_CLASS
		     , REPORTED_NO
		     , MEM_NO
		     , REPORT_CONTENT
		  FROM REPORT
		 WHERE REPORT_NO = ?
	</entry>	
			
</properties>










