<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
	SELECT COUNT(*) as "COUNT"
      FROM COMU_BOARD
     WHERE DELETE_YN = 'N'
	</entry>
	
	<entry key="selectList">
	<!-- SELECT *
	  FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
	                SELECT 
	                       TAG
	                     , TITLE
	                     , CONTENT
	                     , ENROLL_DATE
	                     , VIEW_COUNT
	                  FROM COMU_BOARD B
	                  JOIN CATEGORY USING(CATEGORY_NO)
	                  JOIN MEMBER USING (MEM_NO)
	                 WHERE DELETE_YN = 'N'
	                 ORDER 
	                    BY COMU_NO DESC
	               ) A
	        )
	 WHERE RNUM BETWEEN ? AND ? -->
	  	SELECT 
	  		   COMU_NO
             , TAG
             , TITLE
             , CONTENT
             , ENROLL_DATE
             , VIEW_COUNT
          FROM COMU_BOARD 
         WHERE DELETE_YN = 'N'
         ORDER 
            BY COMU_NO DESC
	</entry>
	
	<entry key="selectCategoryList">
		
		SELECT
			   CATEGORY_NO
			 , CATEGORY_NAME
	      FROM CATEGORY		
	</entry>
	
	<entry key="insertBoard">
		INSERT
		  INTO COMU_BOARD
		  (
		  	COMU_NO
		  , MEM_NO	
		  , CATEGORY_NO
		  , TAG
		  , TITLE
		  , CONTENT
		  )
		 VALUES
		 (
		   SEQ_COMU.NEXTVAL
		 , 1
		 , ?
		 , ?
		 , ?
		 , ?
		 )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO ATTACHMENT
		  (
		    FILE_NO
		  , REF_CODE
		  , REF_BNO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_FILE.NEXTVAL
		  , 'COMU'  
		  , SEQ_COMU.CURRVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="increaseCount">
		
		UPDATE COMU_BOARD
		   SET VIEW_COUNT = VIEW_COUNT + 1
		 WHERE COMU_NO = ?
		   AND DELETE_YN = 'N'  
	
	</entry>
	
	<entry key="selectBoard">
		SELECT
		       COMU_NO
		     , NICKNAME  
		     , CATEGORY_NAME
		     , TAG
		     , TITLE
		     , CONTENT
		     , ENROLL_DATE
		  FROM COMU_BOARD
		  LEFT JOIN CATEGORY USING (CATEGORY_NO)  
		  JOIN MEMBER USING (MEM_NO)
		 WHERE COMU_NO = ?      
	</entry>
	
	<entry key="selectAttachment">
		SELECT
		       FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_CODE = 'COMU'
		   AND REF_BNO = ?
	</entry>
</properties>

