<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
	SELECT COUNT(*) as "COUNT"
      FROM COMU_BOARD
     WHERE DELETE_YN = 'N'
	</entry>
	
	<entry key="selectList">

	 SELECT *
	  FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
				  	SELECT 
				  		   CB.COMU_NO
			             , TAG
			             , TITLE
			             , CONTENT
			             , CB.ENROLL_DATE
			             , VIEW_COUNT
			             , (
			                  SELECT COUNT(*)
			                    FROM COMU_LIKE CL
			                   WHERE CL.COMU_NO = CB.COMU_NO
			                ) "LIKE_COUNT"
			             , (
			                  SELECT COUNT(*)
			                    FROM COMU_RE CR
			                   WHERE CR.COMU_NO = CB.COMU_NO
			                ) "COMMENT_COUNT"
			          FROM COMU_BOARD CB
			          JOIN MEMBER USING (MEM_NO)
			         WHERE DELETE_YN = 'N'
			           AND MEM_STATUS = 'N'
			         ORDER 
			            BY COMU_NO DESC
                    ) A
	        )
	 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectCategoryList">
		
		SELECT
			   CATEGORY_NO
			 , CATEGORY_NAME
	      FROM COMU_CATEGORY		
	</entry>
	
	<entry key="insertBoard">
		INSERT
		  INTO COMU_BOARD
		  (
		  	COMU_NO
		  , MEM_NO	
		  , CATEGORY_NO
		  , TAG
		  , TITLE
		  , CONTENT
		  )
		 VALUES
		 (
		   SEQ_COMU.NEXTVAL
		 , ?
		 , ?
		 , ?
		 , ?
		 , ?
		 )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO ATTACHMENT
		  (
		    FILE_NO
		  , REF_CODE
		  , REF_BNO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_FILE.NEXTVAL
		  , 'COMU'  
		  , SEQ_COMU.CURRVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="increaseCount">
		
		UPDATE COMU_BOARD
		   SET VIEW_COUNT = VIEW_COUNT + 1
		 WHERE COMU_NO = ?
		   AND DELETE_YN = 'N'  
	
	</entry>
	
	<entry key="selectBoard">
		SELECT
		       CB.COMU_NO
		     , NICKNAME  
		     , CATEGORY_NAME
		     , TAG
		     , TITLE
		     , CONTENT
		     , CB.ENROLL_DATE
		     , (
                  SELECT COUNT(*)
                    FROM COMU_LIKE CL
                   WHERE CL.COMU_NO = CB.COMU_NO
                ) "LIKE_COUNT"
             , (
                  SELECT COUNT(*)
                    FROM COMU_RE CR
                   WHERE CR.COMU_NO = CB.COMU_NO
                ) "COMMENT_COUNT"
              , VIEW_COUNT  
		  FROM COMU_BOARD CB
		  JOIN COMU_CATEGORY USING (CATEGORY_NO)  
		  JOIN MEMBER USING (MEM_NO)
		 WHERE COMU_NO = ?      
	</entry>
	
	<entry key="selectAttachment">
		SELECT
		       FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_CODE = 'COMU'
		   AND REF_BNO = ?
	</entry>
	
	<entry key="selectReplyList">
		SELECT 
		       COMM_NO
		     , COMM_CONTENT
		     , NICKNAME
		     , TO_CHAR(C.ENROLL_DATE, 'YY/MM/DD HH:MI')"ENROLL_DATE"
		  FROM COMU_RE C
		  JOIN MEMBER USING (MEM_NO)
		 WHERE COMM_YN = 'N'
		   AND COMU_NO = ?
		 ORDER
		    BY COMM_NO DESC
	</entry>
	
	<entry key="insertReply">
		INSERT
		  INTO COMU_RE
		  ( COMM_NO
		  , COMU_NO
		  , COMM_CONTENT
		  , MEM_NO
		  )
		  VALUES
		  (
		    SEQ_COMM.NEXTVAL
		  , ? 
		  , ? 
		  , ?
		  )
	</entry>
	
	<entry key="selectMyBoardList">
	SELECT COMU_NO, NICKNAME, TITLE, ENROLL, VIEW_COUNT
	  FROM (
	        SELECT ROWNUM RNUM2, B.COMU_NO, B.NICKNAME, B.TITLE, B.ENROLL, B.VIEW_COUNT 
	          FROM (
					SELECT
					       COMU_NO
					     , NICKNAME
					     , TITLE
					     , CB.ENROLL_DATE  "ENROLL"
					     , VIEW_COUNT 
				      FROM COMU_BOARD CB
                     JOIN MEMBER USING (MEM_NO)
				     WHERE MEM_NO = ?
				       AND DELETE_YN = 'N'
				     ORDER
				        BY COMU_NO DESC
	                 ) B
	        )
	 WHERE RNUM2 BETWEEN ? AND ?
	</entry>
	<entry key="selectNotiBoardList">
	
					SELECT
					       NOTI_NO
					     , NICKNAME
					     , TITLE
					     , N.ENROLL_DATE  "ENROLL"
					     , NOTI_VIEWS 
				      FROM NOTICE N
                     JOIN MEMBER USING (MEM_NO)
				     WHERE NOTI_TYPE = '커뮤니티'
				       AND BLIND_YN = 'N'
				     ORDER
				        BY NOTI_NO DESC
	     
	</entry>
	
	<entry key="notiIncreaseCount">
	
			UPDATE NOTICE
		   SET NOTI_VIEWS = NOTI_VIEWS + 1
		 WHERE NOTI_NO = ?
		   AND BLIND_YN = 'N'  
	
	</entry>
	<entry key="selectNotice">
	
		SELECT
		       NOTI_NO
		     , NICKNAME  
		     , TITLE
		     , CONTENT
		     , N.ENROLL_DATE "ENROLL"
             , NOTI_VIEWS  
		  FROM NOTICE N
		  JOIN MEMBER USING (MEM_NO)
		 WHERE NOTI_NO = ? 
	
	</entry>
	
	<entry key="selectAttachment">
		SELECT
		       FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_CODE = '커뮤공지'
		   AND REF_BNO = ?
	</entry>
	
	<entry key="selectCategory">
	
		 SELECT *
	  FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
				  	SELECT 
				  		   CB.COMU_NO
			             , TAG
			             , TITLE
			             , CONTENT
			             , CB.ENROLL_DATE
			             , VIEW_COUNT
			             , (
			                  SELECT COUNT(*)
			                    FROM COMU_LIKE CL
			                   WHERE CL.COMU_NO = CB.COMU_NO
			                ) "LIKE_COUNT"
			             , (
			                  SELECT COUNT(*)
			                    FROM COMU_RE CR
			                   WHERE CR.COMU_NO = CB.COMU_NO
			                ) "COMMENT_COUNT"
			          FROM COMU_BOARD CB
			          JOIN MEMBER USING (MEM_NO)
			         WHERE DELETE_YN = 'N'
			           AND MEM_STATUS = 'N'
			           AND CB.CATEGORY_NO = ?
			         ORDER 
			            BY COMU_NO DESC
                    ) A
	        )
	 WHERE RNUM BETWEEN ? AND ?
				
	</entry>
	
	<entry key="selectMyCount">
	
		SELECT 
		       (
		       SELECT COUNT(*)
		         FROM COMU_BOARD CB
                 WHERE CB.MEM_NO = M.MEM_NO
                   AND DELETE_YN = 'N'
		       ) "COMMENT_COUNT"
		      ,(
                SELECT COUNT(*)
                  FROM COMU_LIKE CL
                 WHERE CL.MEM_NO = M.MEM_NO
		      ) "LIKE_COUNT"
		  FROM MEMBER M
         WHERE MEM_NO = ?
	</entry>
	
	<entry key="selectCategoryListCount">
		SELECT COUNT(*) as "COUNT"
      FROM COMU_BOARD
     WHERE DELETE_YN = 'N'
       AND CATEGORY_NO = ?
	</entry>
	<entry key="selectMyListCount">
		SELECT COUNT(*) as "COUNT"
      FROM COMU_BOARD
     WHERE DELETE_YN = 'N'
       AND MEM_NO = ?
	</entry>
	<entry key="updateBoard">
		
		UPDATE
			   COMU_BOARD
		   SET CATEGORY_NO = ?
		     , TAG = ?
		     , TITLE = ?
		     , CONTENT = ?
		 WHERE BOARD_NO = ? 
	
	</entry>
	
	<entry key="HashtagSearch">
		SELECT
		       CB.COMU_NO
		     , NICKNAME  
		     , CATEGORY_NAME
		     , TAG
		     , TITLE
		     , CONTENT
		     , CB.ENROLL_DATE
		     , (
                  SELECT COUNT(*)
                    FROM COMU_LIKE CL
                   WHERE CL.COMU_NO = CB.COMU_NO
                ) "LIKE_COUNT"
             , (
                  SELECT COUNT(*)
                    FROM COMU_RE CR
                   WHERE CR.COMU_NO = CB.COMU_NO
                ) "COMMENT_COUNT"
              , VIEW_COUNT  
		  FROM COMU_BOARD CB
		  JOIN COMU_CATEGORY USING (CATEGORY_NO)  
		  JOIN MEMBER USING (MEM_NO)
		 WHERE CONTENT LIKE '%?%'
			OR TITLE LIKE '%?%'
	</entry>
	
</properties>

