<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
	SELECT COUNT(*) as "COUNT"
      FROM COMU_BOARD
     WHERE DELETE_YN = 'N'
	</entry>
	
	<entry key="selectList">
	SELECT *
	  FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
	                SELECT 
	                       COMU_NO
	                     , NICKNAME
	                     , CATEGORY_NAME
	                     , TAG
	                     , TITLE
	                     , CONTENT
	                     , ENROLL_DATE
	                     , VIEW_COUNT
	                  FROM COMU_BOARD B
	                  JOIN CATEGORY USING(CATEGORY_NO)
	                  JOIN MEMBER USING (MEM_NO)
	                 WHERE DELETE_YN = 'N'
	                 ORDER 
	                    BY BOARD_NO DESC
	               ) A
	        )
	 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectCategoryList">
		
		SELECT
			   CATEGORY_NO
			 , CATEGORY_NAME
	      FROM CATEGORY		
	</entry>
</properties>