<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectNew">
		SELECT ROWNUM, A.*
		  FROM
		     ( 
		       SELECT P_CODE
	       		    , CATEGORY_NO
		       		, P_NAME
	       		    , PRICE
	        	    , PUBLISH_MONTH
	        	    , IMAGE_URL1
	    	     FROM PRODUCT
	    	    WHERE CATEGORY_NO = ?
	    	    ORDER 
	    	  	   BY PUBLISH_MONTH DESC
	    	  ) A
		 WHERE ROWNUM BETWEEN 1 AND 4
	</entry>  


</properties>