<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectOrderDev">
		SELECT
			OR_NO
		FROM MEMBER M
		JOIN "ORDER" USING(MEM_NO)
		WHERE MEM_NO = ?

	</entry>
	
	
	<entry key="selectOrderDevDetail">
		
		SELECT
		    "ORDER".OR_NO
		    ,IMAGE_URL1
		    ,P_NAME
		    ,PRICE
		    ,OR_DATE
		    ,P.P_CODE
		FROM MEMBER M
		JOIN "ORDER" USING (MEM_NO)
		JOIN OR_PRODUCT OP ON ("ORDER".OR_NO = OP.OR_NO)
		JOIN PRODUCT P ON(OP.P_CODE = P.P_CODE)
		WHERE MEM_NO = ?	
	</entry>
	
	
	<entry key="OrderCancleView">
		SELECT
			P.P_CODE
			,P_NAME
			,OR_DATE
			,PRICE
			,IMAGE_URL1
			,"ORDER".OR_NO
			FROM MEMBER M
			JOIN "ORDER" USING (MEM_NO)
            JOIN OR_PRODUCT OP ON ("ORDER".OR_NO = OP.OR_NO)
            JOIN PRODUCT P ON(OP.P_CODE = P.P_CODE)
			WHERE MEM_NO = ?
			AND OR_YN = ?
	</entry>
	
	<entry key="insertProductCart">
		INSERT
		  INTO CART
		  (	MEM_NO
		  , P_CODE
		  , AMOUNT
		  , OR_CYCLE
		  , CART_DATE
		  , CART_NO
		  )
		  VALUES
		  (
		    ?
		  , ?
		  , ?
		  , ?
		  , CURRENT_DATE
		  , SEQ_CARTNO.NEXTVAL
		  )
	</entry>
	
	<entry key="PointList">
		SELECT 
			  POINT_NO
			, POINT
			, "DATE"
			, HISTORY
		FROM POINT
		WHERE MEM_NO = ?
	</entry>
	
	<entry key="selectCartList">
		SELECT
		 	  CART_NO
		    , MEM_NO
		    , P_CODE
		    , P.IMAGE_URL1
		    , AMOUNT
		    , OR_CYCLE
		    , CART_DATE
		    , P_NAME
		    , PRICE
		    , DELI_FEE
		 FROM CART 
		 JOIN PRODUCT P USING (P_CODE)
		WHERE MEM_NO = ?
	</entry>
	
	<entry key="deleteCart">
		DELETE
		  FROM CART
		 WHERE CART_NO = ?
	</entry>
	
	<entry key="RefundController">
		SELECT
			P_NAME
			,OR_DATE
			,PRICE
			,IMAGE_URL1
			,"ORDER".OR_NO
			FROM MEMBER M
			JOIN "ORDER" USING (MEM_NO)
            JOIN OR_PRODUCT OP ON ("ORDER".OR_NO = OP.OR_NO)
            JOIN PRODUCT P ON(OP.P_CODE = P.P_CODE)
			WHERE MEM_NO = ?
			AND OR_YN = ?
			AND P.P_CODE = ?
	</entry>
	

	<entry key="selectOrderList">
		SELECT
	        CART_NO
	      , MEM_NO
	      , C.P_CODE
	      , P.IMAGE_URL1
	      , AMOUNT
	      , OR_CYCLE
	      , P.P_NAME
	      , P.PRICE
	      , P.DELI_FEE
	   FROM CART C
	   JOIN PRODUCT P ON (C.P_CODE = P.P_CODE)
	  WHERE P_STOCK >= 1
	    AND SELL_YN = 'Y'
	    AND CART_NO = ?
	</entry>
	
	<entry key="CancleComplete">
		UPDATE 
			   "ORDER" O
		INNER JOIN OR_PRODUCT OP ON O.OR_NO = OP.OR_NO
		   SET OR_YN = Y
		 WHERE OR_NO = ?
		 AND MEM_NO= ?
		 AND P_CODE=?
	</entry>
	
	
	
</properties>