<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	
	<entry key="selectOrderList">
		SELECT
	        CART_NO
	      , MEM_NO
	      , C.P_CODE
	      , P.IMAGE_URL1
	      , AMOUNT
	      , OR_CYCLE
	      , P.P_NAME
	      , P.PRICE
	      , P.DELI_FEE
	   FROM CART C
	   JOIN PRODUCT P ON (C.P_CODE = P.P_CODE)
	  WHERE P_STOCK >= 1
	    AND SELL_YN = 'Y'
	    AND CART_NO = ?
	</entry>

	<entry key="selectPoint">
		SELECT
		       POINT
		  FROM MEMBER
		 WHERE MEM_NO = ?
	</entry>

	<entry key="insertOrder">
		INSERT
		  INTO ORDER
		       	(
		       	OR_NO
		      , MEM_NO
		      , OR_PRICE
		      , OR_POINT
		      , OR_YN
		      , TAKE_NAME
		      , LOCATION
		      , PACEL_STATUS
		      , PAYMENT
		      , OR_DATE
		       	)
		       VALUES
		       (
		        SEQ_OR
		      , ?
		      , ?
		      , ?
		      , 'Y'
		      , ?
		      , ?
		      , 'N'
		      , 'Y'
		      , CURRENT_DATE
		       ) 
	</entry>
	
	<entry key="insertOrProduct">
		INSERT
		  INTO OR_PRODUCT
		       	(
		       	OR_NO
		      , P_CODE
		      , OR_CYCLE
		      , OR_AMOUNT
		      )
		       VALUES
		       (
		        ?
		      , ?
		      , ?
		      , ?
		      
		       ) 
	</entry>
	
	<entry key="insertOutStock">
		INSERT
		  INTO PRODUCT_IO
		       	(
		       	STATUS_NO
		      , P_CODE
		      , STATUS_AMOUNT
		      , STATUS_DATE
		      , STATUS
		      )
		       VALUES
		       (
		        SEQ_STAT.NEXTVAL
		      , ?
		      , ?
		      , CURRENT_DATE
		      , '출고'
		      
		       ) 
	</entry>
	
	<entry key="updatePoint">
		UPDATE
			   MEMBER
		   SET POINT = POINT + (? * 0.1)
		 WHERE MEM_NO = ?
	</entry>

	

</properties>