<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectProductList">
		SELECT
				P_CODE
			  , CATEGORY_NO
			  , P_NAME
			  , PRICE
			  , PUBLISH_MONTH
			  , IMAGE_URL1
			FROM PRODUCT
			WHERE CATEGORY_NO = 10
			ORDER BY PUBLISH_MONTH DESC
	</entry>
	
	<entry key="selectProductList2">
		SELECT
				P_CODE
			  , CATEGORY_NO
			  , P_NAME
			  , PRICE
			  , PUBLISH_MONTH
			  , IMAGE_URL1
			FROM PRODUCT
			WHERE CATEGORY_NO = 20
			ORDER BY PUBLISH_MONTH DESC
	</entry>
	
	<entry key="selectProductList3">
		SELECT
				P_CODE
			  , CATEGORY_NO
			  , P_NAME
			  , PRICE
			  , PUBLISH_MONTH
			  , IMAGE_URL1
			FROM PRODUCT
			WHERE CATEGORY_NO = 30
			ORDER BY PUBLISH_MONTH DESC
	</entry>
	
	<entry key="selectProductListOld">
		SELECT
			    P_CODE
			  , CATEGORY_NO
			  , P_NAME
			  , PRICE
			  , PUBLISH_MONTH
			  , IMAGE_URL1
			FROM PRODUCT
			WHERE CATEGORY_NO = 10
			ORDER BY PUBLISH_MONTH ASC
	</entry>
	
	<entry key="selectProductListOld2">
		SELECT
			    P_CODE
			  , CATEGORY_NO
			  , P_NAME
			  , PRICE
			  , PUBLISH_MONTH
			  , IMAGE_URL1
			FROM PRODUCT
			WHERE CATEGORY_NO = 20
			ORDER BY PUBLISH_MONTH ASC
	</entry>
	
	<entry key="selectProductListOld3">
		SELECT
			    P_CODE
			  , CATEGORY_NO
			  , P_NAME
			  , PRICE
			  , PUBLISH_MONTH
			  , IMAGE_URL1
			FROM PRODUCT
			WHERE CATEGORY_NO = 30
			ORDER BY PUBLISH_MONTH ASC
	</entry>
	
	<entry key="selectProductDetail">
		SELECT 
			   P_CODE
		     , P_NAME
		     , PRICE
		     , PUBLISHER
		     , EXTRACT(MONTH FROM PUBLISH_MONTH)"MONTH"
		     , P_STOCK
		     , SUP_YN
		     , IMAGE_URL1
		     , IMAGE_URL2
		     , S.IMAGE_URL 
		  FROM PRODUCT 
		  left JOIN SUPPLEMENT S USING(P_CODE)
		 WHERE P_CODE = ?
	</entry>
	
	<entry key="selectInquiryList">
		 SELECT Q_NO
		      , Q_YN
		      , TITLE
		      , M.MEM_NAME
		      , I.ENROLL_DATE
		   FROM INQUIRY I
		   JOIN MEMBER M USING (MEM_NO)
		  WHERE P_CODE = ?
		  ORDER BY I.ENROLL_DATE
	</entry>
	
	
	
	<entry key="scrapCheck">
		SELECT COUNT(*) A
		  FROM SCRAP
		 WHERE MEM_NO = ?
		   AND P_CODE = ?
	</entry>
	
	
	
	
	<entry key="insertScrap">
		INSERT 
		  INTO SCRAP
			 (
			   P_CODE
			 , MEM_NO
			 )
		VALUES
			 (
			   ?
			 , ?
			 )
	</entry>
	
	
	
	<entry key="deleteScrap">
		DELETE
		  FROM SCRAP
		 WHERE P_CODE = ?
		   AND MEM_NO = ?
	</entry>
	
	<entry key="insertInquiry">
		INSERT
		  INTO INQUIRY
		       (
		         Q_NO
		       , P_CODE
		       , MEM_NO
		       , TITLE
		       , CONTENT
		       , Q_CATEGORY
		       , ENROLL_DATE 
		       )
		       VALUES
		       (
		         SEQ_QNO
		       , ?
		       , ?
		       , ?
		       , ?
		       , ?
		       , CURRENT_DATE
		       )
	</entry>
	
	
	
	
	<entry key="selectSearchList">
		SELECT P_CODE
			 , CATEGORY_NO
			 , P_NAME
			 , PRICE
			 , PUBLISH_MONTH
			 , IMAGE_URL1
		  FROM PRODUCT
		 WHERE P_NAME LIKE '%'||?||'%' OR PUBLISHER LIKE '%'||?||'%'
		   AND SELL_YN = 'Y'
	</entry>
	
	
</properties>