<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="WriteReviewView">
		SELECT
			 P.P_NAME
			,P.PRICE 
			,P.IMAGE_URL1
			,OR_DATE
			,O.OR_NO
			,P.P_CODE
        FROM PRODUCT p
        JOIN OR_PRODUCT OP ON (P.P_CODE = OP.P_CODE)
        JOIN "ORDER" O ON (OP.OR_NO = O.OR_NO)
		WHERE O.MEM_NO=?
		AND O.OR_YN='N'
		AND O.OR_RETURN= 'N'
	</entry>
	
	
	<entry key="WriteReviewHistory">
		SELECT
			 P.IMAGE_URL1
			,P.P_NAME
			,OR_DATE
			,P.PRICE
			,REVIEW_SCOPE
			,REVIEW_CONTENT
			,P.P_CODE
			,REVIEW_NO
		FROM REVIEW R
        JOIN PRODUCT P ON (R.P_CODE = P.P_CODE)
        JOIN OR_PRODUCT OP ON (P.P_CODE = OP.P_CODE)
        JOIN "ORDER" O ON (OP.OR_NO = O.OR_NO)
		WHERE R.MEM_NO=?
		AND WRITE_YN='Y'
	</entry>

	<entry key="WriteReview">
		SELECT
			 P.IMAGE_URL1
			,P.P_NAME
			,OR_DATE
			,P.PRICE
			,P.P_CODE
        FROM PRODUCT P 
        JOIN OR_PRODUCT OP ON (P.P_CODE = OP.P_CODE)
        JOIN "ORDER" O ON (OP.OR_NO = O.OR_NO)
		WHERE O.MEM_NO = ?
        AND OP.OR_NO = ?
        AND P.P_CODE = ?
	</entry>
	
	<entry key="WriteReviewComplete">
		INSERT
		  INTO REVIEW 
		  (
		  	REVIEW_NO
		  , MEM_NO
		  ,	P_NAME
		  , P_CODE
		  , REVIEW_SCOPE
		  , REVIEW_CONTENT
		  , WRITE_YN
		  )
		  VALUES
		  (
		  	SEQ_REV.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , 'Y'
		  )
	</entry>
	
	<entry key="insertAttachment">
		INSERT 
		  INTO ATTACHMENT
		  (
		    FILE_NO
		  , REF_BNO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  , REF_CODE
		  )
		  VALUES
		  (
		    SEQ_FILE.NEXTVAL
		  , SEQ_REV.CURRVAL
		  , ?
		  , ?
		  , ?
		  , 'REV'
		  )
	</entry>
	
	<entry key="ReviewCancle">
		UPDATE REVIEW
		   SET WRITE_YN = 'N'
		 WHERE MEM_NO = ?
        	AND REVIEW_NO = ?
        	AND P_CODE = ?
	</entry>

	<entry key="PointTriger">
		INSERT INTO POINT
            (
                     POINT_NO
                    ,MEM_NO
                    ,POINT
                    ,POINT_UPDATE
                    ,HISTORY
                )
            VALUES
            (
                    SEQ_PTNO.NEXTVAL
                    ,?
                    ,50
                    ,'적립'
                    ,'리뷰')
	</entry>
</properties>